* { margin: 0px; padding: 0px; }
body {overflow: hidden;}
.container { width: 100%; }
.course_video_main { display: flex; gap: 3%; }
.video_sections {box-sizing: border-box;padding: 40px;box-shadow: rgb(238, 238, 238) 0px 0px 28px;min-height: 100vh;flex: 1 1 0%;;max-height: 100vh;}
.video_sections:hover {overflow-y: scroll;}
.prof_image {width: 150px;overflow: hidden;border-radius: 15px;object-fit: cover;border: 2px solid rgb(0 107 169);height: 150px;}
.prof_image img { width: 100%; }
.profile_details { display: flex; flex-direction: column; align-items: center; justify-content: center; margin-bottom: 30px; }
.prof_details { margin-top: 15px; }
.prof_details h4 {color: rgb(0 107 169);}
.section_heading { font-weight: bold; font-size: 25px; }
.subheading_title { font-weight: bold; font-size: 18px; }
.section_subheading { margin-left: 15px; margin-top: 30px; }
.section_subheading ul { margin: 0px; padding: 10px 0px 0px 10px; }
.section_subheading ul li { list-style: none; padding: 8px; cursor: pointer; transition: all .5s ease-in;}
.main_video { flex: 4 1 0%; display: flex; justify-content: center; align-items: center; }
.video_wrapper { width: 80%; }
.video_player iframe { width: 100%; height: 644px; border-radius: 10px; }
.video_meta { display: flex; justify-content: space-between; margin-top: 20px; }
.vid_title { font-size: 19px; font-weight: bold; }
.vid_recdate { font-size: 19px; font-weight: bold; }

.green{color:#4cff54}
.active { background: rgb(238, 238, 238); border-radius: 5px; }

@media screen and (max-width: 767px) {
    body {
        overflow: auto;
    }
    .course_video_main {
        flex-direction: column-reverse;
    }
    .video_wrapper {
        width: 100%;
    }
    .video_player iframe {
        height: 426px;
        border-radius: 0;
    }
}
@media screen and (max-width: 400px) {
    .video_player iframe {
        height: 206px;
    }
}
